.cardRoot {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 400px;
  height: 464px;
  /* border: 1px solid black; */
}

.containerCard {
  width: 100%;
  height: 100%;
}

.projectImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  box-shadow: -12px 12px 12px #a0a0a0;
}

.projectImage:hover {
  box-shadow: -24px 24px 24px #a0a0a0;
  transform: translate(12px, -12px);
  cursor: pointer;
  transition: 0.5s;
}

.containerTitle {
  margin-top: 16px;
}

.projectTitle {
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  color: #0a4848;
}
