.containerNavigationHidden {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 16px;
}

.containerNameWork {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.name {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  color: #0a4848;
}

.work {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #0a4848;
}

.containerImage {
  margin-right: 16px;
}

.containerBento {
  padding-right: 16px;
}

.bento {
  cursor: pointer;
}

.navigation {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  animation: appearNavigation 0.5s forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  z-index: 1;
  align-items: center;
  min-height: 100%;
  min-width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

@keyframes appearNavigation {
  0% {
    clip-path: polygon(100% 0, 100% 100%, 100% 50%);
  }

  20% {
    clip-path: polygon(100% 0, 100% 100%, 80% 51%);
  }

  50% {
    clip-path: polygon(100% 0, 100% 100%, 50% 50%);
  }

  70% {
    clip-path: polygon(100% 0, 100% 100%, 0 0);
  }

  90% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 75%);
  }

  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
