.loadingPage {
  animation: disappear 3s forwards;
  animation-delay: 2s;
  z-index: 2;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #edefee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerNameWorkLoading {
  animation: smooth 2s forwards ease-in;
  display: flex;
  flex-direction: column;
}

.spanName {
  font-family: "Oswald", sans-serif;
  font-size: 32px;
}

.spanWork {
  font-family: "Inter", sans-serif;
  font-size: 18px;
}

@keyframes smooth {
  0% {
    color: #0a4848;
    opacity: 0;
  }

  10% {
    color: #0a4848;
    opacity: 1;
  }

  50% {
    color: #0a4848;
    opacity: 1;
  }

  80% {
    color: #0a4848;
    opacity: 1;
  }

  100% {
    color: #0a4848;
    opacity: 1;
    opacity: 0;
  }
}

@keyframes disappear {
  50% {
    opacity: 1;
  }

  100% {
    z-index: 0;
    opacity: 0;
  }
}
