.toolsAndSkills {
  scroll-snap-align: start;
  background-color: #edefee;
  min-height: 100%;
  min-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: "Oswald", sans-serif;
}

.toolsRoot {
  display: flex;
  flex-direction: row;
  gap: 64px;
}

.containerTitleValues {
  display: flex;
  flex-direction: column;
  top: 50%;
  gap: 32px;
}

.titleTools {
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  color: #0a4848;
}

.containerValues {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  gap: 16px;
  font-size: 18px;
}

.titleChart {
  text-align: center;
  inline-size: 8em;
  font-size: 32px;
  text-transform: uppercase;
}

.containerRadarChart {
  width: 60%;
  height: 80%;
  display: flex;
  margin: auto;
}

@media only screen and (max-width: 500px) {
  .toolsRoot {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: -64px;
  }
  .titleTools {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    color: #0a4848;
  }

  .containerTitleValues {
    display: flex;
    flex-direction: column;
    top: 50%;
    gap: 16px;
  }
  .containerValues {
    margin-left: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
  }
  .containerValues > span {
    font-size: 16px;
  }
}

@media only screen and (max-width: 400px) {
  .containerRadarChart {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .titleChart {
    font-size: 1.5em;
  }
  .containerRadarChart {
    width: 100%;
  }
}
