.Name,
.Email,
.Message {
  height: 5em;
}

.Send {
  background-color: brown;
  padding: 2em;
  border-radius: 6px;
}

.contact {
  scroll-snap-align: start;
  background-color: cadetblue;
  min-height: 100%;
  min-width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 32px;
}
