.form {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  gap: 32px;
  padding: 256px;
}

.Name,
.Email,
.Message {
  height: 64px;
}

.Send {
  background-color: brown;
  padding: 2em;
  border-radius: 6px;
}

.Message {
}
