.scroll-container {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  height: 100%;
}

.about-me-scroll,
.education-scroll,
.tools-and-skills-scroll,
.contact-scroll {
  scroll-snap-align: start;
}

.about-me-scroll {
  background-color: tomato;
}

.education-scroll {
  background-color: bisque;
}

.tools-and-skills-scroll {
  background-color: darkgoldenrod;
}

.contact-scroll {
  background-color: cadetblue;
}
