.toolsAndSkills1 {
  margin-left: 16em;
}

.toolsAndSkills2 {
  margin-left: 50vh;
}

.tools-and-skills-container {
  padding-top: 5em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: row;
  font-size: 24px;
}
